#mask {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    display: none;
}

ws-editorframe {
    box-sizing: border-box;
    position: fixed;
    z-index: 1000001;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: white;
    padding: .85rem;
    overflow: hidden;
    display: none;
}

ws-editorframe.focus {
    border-color: rgba(0, 0, 0, .40);
    /*border: 1px solid rgba(0, 0, 0, .40);*/
}

ws-editorframe header {
    position: relative;
    box-sizing: border-box;
    height: 2.6rem;
    display: block;
}

ws-editorframe header p {
    float: left;
}

ws-editorframe header button {
    float: right;
}

ws-editorframe footer {
    clear: both;
    position: relative;
    box-sizing: border-box;
    height: 2.6rem;
    padding-top: .85rem;
}

ws-editorframe button.float-right {
    float: right;
}

ws-codeeditor {
    clear: both;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 6rem);
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .25);
    display: block;
    outline: none;
}

ws-codeeditor pre {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    white-space: pre;
}

ws-codeeditor pre.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 100000px;
    border-right: 1px solid #909090;
    padding: .125rem;
    text-align: right;
    background-color: #E8E8E8;
    color: #707070;
    overflow: hidden;
    /*pointer-events: none;*/
    user-select: none;
}

ws-codeeditor pre.edit-area {
    position: absolute;
    top: 0;
    left: 38px;
    right: 0;
    height: 100%;
    padding: .125rem;
    background-color: #FFFFFF;
    overflow: scroll;
    word-wrap: pre-wrap;
    tab-size: 4;
    color: black;
    caret-color: black;
}

ws-contextmenu {
    position: fixed;
    z-index: 10000009;
    top: 10px;
    left: 10px;
    width: 160px;
    margin: 0;
    padding: 0.1em;
    border: 1px solid #B0B0B0;
    background-color: white;
    cursor: default;
    outline: none;
    -moz-appearance: none;
    display: block;
}

ws-contextmenu hr {
    margin: 3px;
    border: none;
    height: 1px;
    background-color: #D0D0D0;
}

ws-contextmenu button {
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0;
    padding: .15em;
    line-height: 130%;
    background: none;
    background-color: white;
    color: #282828;
    text-align: left;
    cursor: default;
}

ws-contextmenu button:hover {
    cursor: default;
}

ws-contextmenu button:focus {
    background: none;
    background-color: #888;
    color: white;
    outline: none;
    display: block;
}

ws-contextmenu button:disabled {
    background-color: white;
    color: #909090;
}
