#mask {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    display: none;
}

#editor-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 1000001;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: white;
    padding: .85rem;
    overflow: hidden;
    display: none;
}

#editor-container.focus {
    border-color: rgba(0, 0, 0, .40);
    /*border: 1px solid rgba(0, 0, 0, .40);*/
}

#editor-container header {
    position: relative;
    box-sizing: border-box;
    height: 2.6rem;
    display: block;
}

#editor-container header p {
    float: left;
}

#editor-container header button {
    float: right;
}

#editor-container footer {
    clear: both;
    position: relative;
    box-sizing: border-box;
    height: 2.6rem;
    padding-top: .85rem;
}
/*
#editor-container footer button[name="delete"] {
    float: left;
    margin-left: 0;
}
*/
#editor-container footer button[name="save-as"] {
    float: left;
    margin-left: 0;
}
#editor-container footer button[name="save"],
#editor-container footer button[name="create"] {
    float: right;
}
#editor-container.edit footer button[name="create"] {
    float: left;
}
#editor-container.new footer button.edit {
    display: none;
}
#editor-container.edit footer button.new {
    display: none;
}

div.ps-code-editor {
    clear: both;
    box-sizing: border-box;
    position: relative;
    height: calc(100% - 6rem);
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .25);
    display: block;
}

div.ps-code-editor pre {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    white-space: pre;
    -moz-tab-size: 4;
    -webkit-tab-size: 4;
}

.ps-code-editor pre.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 100000px;
    border-right: 1px solid #909090;
    padding: .125rem;
    text-align: right;
    background-color: #E8E8E8;
    color: #707070;
    overflow: hidden;
    /*pointer-events: none;*/
    user-select: none;
}
.ps-code-editor pre.edit-area {
    position: absolute;
    top: 0;
    left: 38px;
    right: 0;
    height: 100%;
    padding: .125rem;
    background-color: #FFFFFF;
    overflow: scroll;
    word-wrap: pre-wrap;
    /*tab-size: 4;*/
    color: black;
    caret-color: black;
}
.ps-code-editor menu {
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 2px;
    width: 160px;
    margin: 0;
    padding: 0;
    border: 1px solid #B0B0B0;
    background-color: white;
    font: menu;
    cursor: default;
    outline: none;
    display: none; /*block;
    visibility: hidden;*/
}

#menu hr {
    margin: 3px;
    border: none;
    height: 1px;
    background-color: #D0D0D0;
}

#menu button {
    width: 100%;
    height: auto;
    border: none;
    padding: .15em;
    line-height: 130%;
    background-color: white;
    color: #282828;
    text-align: left;
}

#menu button:focus {
    background-color: #3070F0;
    color: white;
}

#menu button:disabled {
    background-color: white;
    color: #909090;
}

button::-moz-focus-inner {
    border: 0;
}
