#version {
    clear: both;
}

tbody a.dir {
    color: #884610;
}

.leftmost {
    float: left;
    margin-left: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-right: 0;
}

.apply.directory-selector {
    border-radius: 0;
    float: none;
}

.apply.directory-selector div {
    width: 100%;
}

#context .directory-selector {
    width: 30rem;
}

dialog {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: .4rem;
    background-color: white;
    /*padding: .85rem;*/
    overflow: hidden;
}

dialog header {
    box-sizing: border-box;
    margin: 0 0 1rem 0;
}

dialog header div.headline {
    margin-bottom: .26rem;
}

dialog header h1 {
    font-size: 1.3rem;
    font-weight: normal;
    float: left;
}

dialog header button {
    float: right;
}

#NewDirectoriesBox header p {
    float: left;
}

#NewDirectoriesBox .new-file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#NewDirectoriesBox .new-file input {
    flex: auto;
}

#NewDirectoriesBox .new-file button {
    flex: none;
    /*margin-left: 1.2rem;*/
    /*width: 10%;*/
}

#NewDirectoriesBox footer {
    clear: both;
    position: relative;
    box-sizing: border-box;
    height: 2.6rem;
    padding-top: .85rem;
}

#MoveCopyDeleteBox, #RenameBox {
    width: 60%;
    min-width: 200px;
}

#MoveCopyDeleteBox header, #RenameBox header {
    overflow: hidden;
}

#MoveCopyDeleteBox fieldset, #RenameBox fieldset {
    clear: both;
    padding: 0;
}

dialog .context {
	position: relative;
	clear: both;
	min-height: 3.8rem;
	margin: 0;
}

dialog .context:after {
	content: ' ';
	display: block;
	clear: both;
	visibility: hidden;
}

dialog .context h1 {
	float: left;
	padding: 0;
	font-size: 127.28%;
	font-weight: normal;
	line-height: 1.35;
	border-bottom: 0;
}

dialog div.selector-box {
    margin: 0 0 1.2rem 0;
    overflow: hidden;
}

tr[data-mode="pre-active"] a.pre-active, tr[data-mode="active"] a.active {
    display: inline;
}

tr[data-mode="active"] a.pre-active, tr[data-mode="pre-active"] a.active {
    display: none;
}


a.uploading {
    display: none;
}

div.new-files {
    position: relative;
    /*width: 100%;*/
    background-color: #ffffc0;
}

div.new-files fieldset {
    display: flex;
    padding: 0;
    margin: 0;
}

div.new-files fieldset label {
    flex: initial;
}

div.new-files fieldset input {
    flex: auto;
    margin: 0;
}

div.new-files fieldset button {
    flex: none;
    margin: 0;
}

/*a.upload {
    color: #009018;
}
*/
/* label i a.remove { */
a.remove {
    color: #D87000;
}

a.left-margin {
    margin-left: .8rem;
}

fieldset.bottom-actions:disabled {
    display: none;
}

#NewDirectoriesBox, #UploadBox, #EditorBox {
    width: 96.8%;
    height: 94.4%;
    background-color: white;
    padding: 1.24rem;
    overflow: hidden;
}

#EditorBox form {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#EditorBox header {
    flex: none;
    box-sizing: border-box;
    margin: 0 0 .7rem 0;
}

#EditorBox h1 span {
    margin-left: 2.8rem;
    color: #505050;
}

#EditorBox .status-line {
    clear: both;
    float: left;
    width: 100%;
    margin: .84rem 0 0 0;
}

#EditorBox .notifier {
    border-bottom: none;
}

#EditorBox .notifier p {
    padding-left: .8rem;
}

#EditorBox fieldset.editor {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    flex: auto;
}

#EditorBox fieldset[name="fs_saveAs"] {
    flex: auto;
}

#EditorBox fieldset.bottom-actions {
    box-sizing: border-box;
    width: 100%;
    margin: .84rem 0 0 0;
    flex: none;
}

dialog .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

dialog .flex-item {
    width: calc(50% - .75rem);
}

code-area {
    clear: both;
    border: 1px solid rgba(0, 0, 0, .25);
    height: 100%;
}

code-area:focus {
    border-color: rgba(0, 0, 0, .40);
}

fieldset.editor {
    margin: 0;
    padding: 0;
}

fieldset.bottom-actions {
    padding: 0;
    margin: .84rem 0 0 0;
}

div.status-line.xfer p.protected {
    color: #406D78;
    background-color: #96C0DC;
}

div.save-error {
    margin-bottom: .9rem;
    color: #B80C00;
    text-align: center;
}
